body{
    margin: 0;
    padding: 20px;
    background-color:#212121;
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    color: white;
    box-sizing: border-box;
}

.container{
    text-align: center;
    width: 100%;
    max-width: 400px;
    background-color: #1f2937;
    padding: 30px;
    border-radius: 16px;
    box-sizing: border-box;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}

button{
    margin: 10px;
    border-radius: 5px;
    padding: 3px 10px 3px 10px;
    cursor: pointer;
    transition: all 0.3s ease;
    color: white;
    border: 0px;
}

#Start{
    background-color: green;
}
#Stop{
    background-color: red;
}